<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milkaxe_studios.clinicaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cruds.consulta.AtualizarPagamentoActivity"></activity>
        <activity android:name=".cruds.consulta.CadastrarPagamentoActivity" />
        <activity android:name=".cruds.consulta.SelecionarMedicoConsultaActivity" />
        <activity android:name=".cruds.consulta.SelecionarEspecialidadeConsultaActivity" />
        <activity android:name=".cruds.forma_pagamento.AtualizarFormaPagamentoActivity" />
        <activity android:name=".cruds.forma_pagamento.ListarFormaPagamentoActivity" />
        <activity android:name=".cruds.forma_pagamento.CadastrarFormaPagamentoActivity" />
        <activity
            android:name=".cruds.consulta.ListarEspecialidadesMedicosActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.paciente.ListarPacienteActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.paciente.AtualizarPacienteActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.paciente.CadastrarPacienteActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.cobertura.AtualizarCoberturaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.cobertura.ListarCoberturaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.cobertura.CadastrarCoberturaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.consulta.MostrarDisponibilidadesActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.consulta.AtualizarConsultaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.consulta.CadastrarConsultaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.medico.AtualizarMedicoActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.medico.ListarMedicoActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.medico.CadastrarMedicoActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.especialidade.AtualizarEspecialidadeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.especialidade.ListarEspecialidadesActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cruds.especialidade.CadastrarEspecialidadeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>